@import "../../variables";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

nav {
  &.navbar {
    padding: 15px;

    .navbar-brand {
      height: 40px;
      width: 40px;
    }

    a,
    p {
      color: $black;
      font-weight: 500;
      margin-bottom: 0;
      opacity: 0.85;
    }

    a:hover {
      color: $primary;
    }

    p:hover {
      i {
        color: $primary;
      }
    }

    .nav-item {
      padding-right: 30px;

      &:hover {
        opacity: 1;
      }

      .btn {
        cursor: pointer;
      }
    }

    .nav-link::before {
      transition: 300ms;
      height: 5px;
      content: "";
      position: absolute;
      background-color: #031D44;
    }

    .nav-link::before {
      width: 0%;
      bottom: 10px;
    }

    .nav-link-ltr:hover::before {
      width: 4%;
    }

    .nav-link-how-it-work:hover::before {
      width: 8%;
    }

    .nav-link-address:hover::before {
      width: 5%;
    }

    .fa-phone {
      color: $black;
      font-weight: 700;
    }

    .router-link-active {
      color: $primary;
    }
  }
}

@include media-breakpoint-down (md) {
  nav {
    &.navbar {
      padding: 20px 0 20px;

      .container {
        .navbar-toggle {
          background-color: $white;
          color: $primary;
          border: none;

          i {
            font-size: 24px;
          }
        }

        .navbar-brand {
          padding: 0 0 20px 20px;
        }

        .navbar-toggle {
          padding: 0 20px 20px 0;
        }

        .navbar-collapse {
          padding-top: 20px;
          border-top: 1px solid #c7c7c7;
          height: 100vh;

          .navbar-nav {
            padding: 0 20px;

            .nav-item {
              a, p {
                font-size: 16px;
                padding-bottom: 10px;
              }
            }
          }
        }
      }
    }
  }
}

.request-card-hidden {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.18);
}
