<nav class="navbar navbar-expand-lg fixed-top bg-white" [class.shadow]="toggleNavShadow">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']">
      <img src="assets/logo/logo.jpg" alt="assets/logo/logo.jpg">
    </a>
    <button type="button" class="navbar-toggle d-block d-lg-none" (click)="toggleNavbarCollapsing()">
      <span>
        <div *ngIf="showHamburger">
          <i class="fa fa-bars"></i>
        </div>
        <div *ngIf="hideHamburger">
          <i class="fa fa-times"></i>
        </div>
      </span>
    </button>

    <div class="navbar-collapse" [class.collapse]="navbarCollapsed">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link nav-link-ltr" (click)="toggleNavbarCollapsing()" [routerLink]="['rent/blazer']" routerLinkActive="router-link-active" >Blazers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-ltr" (click)="toggleNavbarCollapsing()" [routerLink]="['rent/shirt']" routerLinkActive="router-link-active" >Shirts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-ltr" (click)="toggleNavbarCollapsing()" [routerLink]="['rent/pant']" routerLinkActive="router-link-active" >Pants</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-ltr" (click)="toggleNavbarCollapsing()" [routerLink]="['/faq']" routerLinkActive="router-link-active" >FAQ's</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item mr-auto">
          <a class="btn nav-link nav-link-how-it-work" (click)="howitWork(); toggleNavbarCollapsing()">How it Work ?</a>
        </li>
        <li class="nav-item align-self-start">
          <a class="btn nav-link nav-link-address"  (click)="address(); toggleNavbarCollapsing()">Address</a>
        </li>
        <li class="nav-item active d-flex">
          <p class="nav-link" href="#">
            <i class="fa fa-phone">&nbsp;9886177255</i>
          </p>
        </li>
      </ul>
    </div>
  </div>
</nav>

