
<section class="policy">
    <div class="container">
      <div class="row">
        <div class="col col-12 text-left">
            <h2 class="text-center self-align-center"> PRIVACY POLICY </h2>
            <p>This Privacy Policy governs the manner in which Shiroest technologies 
                Private Limited ("Company") collects, uses, maintains and discloses 
                information collected from users (each, a "User") of the Shiroest.com website ("Site").</p>
            <h3> Personal identification information </h3>
            <p> We may collect personal identification information from Users in a variety of ways, including, but not limited to, when Users visit our site, register on the site, place an order, fill out a form, respond to a survey, and in connection with other activities, services, features or resources we make available on our Site. Users may be asked for, as appropriate, name, email address, mailing address, phone number. Users may, however, visit our Site anonymously. We will collect personal identification information from Users only if they voluntarily submit such information to us. Users can always refuse to supply personally identification information, except that it may prevent them from engaging in certain Site related activities. Kindly note that we may also require your CREDIT CARD /debit card details for facilitating the payments in relation to the Order placed by you, also such details shall may be stored or used by us in any manner other than in accordance with the Terms and Conditions. Kindly note that the Site Owner uses an online payment gateway operated by third parties and the information that you provide at the time of placing an Order on the Site is held and stored by such third party payment gateway operator.</p>
            <h3> Non-personal identification information </h3>
            <p> We may collect non-personal identification information about Users whenever they interact with our Site. Non-personal identification information may include the browser name, the type of computer and technical information about Users means of connection to our Site, such as the operating system and the Internet service providers’ utilized and other similar information.</p>
            <h3> Web browser cookies </h3>
            <p> Our Site may use "cookies" to enhance User experience. User's web browser places cookies on their hard drive for record-keeping purposes and sometimes to track information about them. User may choose to set their web browser to refuse cookies, or to alert you when cookies are being sent. If they do so, note that some parts of the Site may not function properly.</p>
            <h3> How we use collected information </h3>
            <p>The Site may collect and use Users personal information for the following purposes:
                To run and operate our Site We may need your information display content on the Site correctly.
                To improve customer service Information you provide helps us respond to your customer service requests and support needs more efficiently.
                To personalize user experience We may use information in the aggregate to understand how our Users as a group use the services and resources provided on our Site.
                To improve our Site We may use feedback you provide to improve our products and services.
                To run a promotion, contest, survey or other Site feature
                To send Users information they agreed to receive about topics we think will be of interest to them.
                To send periodic emails We may use the email address to send User information and updates pertaining to their order. It may also be used to respond to their inquiries, questions, and/or other requests.</p>
            <h3> How we protect your information </h3>
            <p> We adopt appropriate data collection, storage and processing practices and security measures to protect against unauthorized access, alteration, disclosure or destruction of your personal information, username, password, transaction information and data stored on our Site. </p>
            <h3> Sharing your personal information </h3>
            <p> We do not sell, trade, or rent Users personal identification information to others. We may share generic aggregated demographic information not linked to any personal identification information regarding visitors and users with our business partners, trusted affiliates and advertisers for the purposes outlined above. </p>
            <h3> Electronic newsletters </h3>
            <p> If User decides to opt-in to our mailing list, they will receive emails that may include company news, updates, related product or service information, etc. If at any time the User would like to unsubscribe from receiving future emails, we include detailed unsubscribe instructions at the bottom of each email or User may contact us via our Site. </p>
            <h3> Changes to this privacy policy </h3>
            <p> The Site has the discretion to update this privacy policy at any time. When we do, we will revise the updated date at the bottom of this page and send you an email. We encourage Users to frequently check this page for any changes to stay informed about how we are helping to protect the personal information we collect. You acknowledge and agree that it is your responsibility to review this privacy policy periodically and become aware of modifications. </p>
            <h3> Your acceptance of these terms </h3>
            <p> By using this Site, you signify your acceptance of this policy. If you do not agree to this policy, please do not use our Site. Your continued use of the Site following the posting of changes to this policy will be deemed your acceptance of those changes.</p>
            <h3> Contacting us </h3>
            <p> If you have any questions about this Privacy Policy, the practices of this site, or your dealings with this site, please contact us. Shiroest@gmail.com</p>


        </div>
      </div>
      </div>
      </section>