<section class="policy">
	<div class="container">
		<div class="row">
			<div class="col col-12 text-left">
				<h2 class="text-center self-align-center"> Terms and Condition</h2>
				<p>Users may kindly note that products listed on our web-site are sourced from our own inventory, through our
					brand partners and Contributors (i.e. users who list outfits owned by them on Website (as defined hereinafter)
					for lease). Products listed by our Contributors are identified by the caption “Rented by Contributor”. Certain
					terms of use listed below are applicable only for products listed by Contributors.</p>

				<p>This document is published in accordance with the provisions of Rule 3 (1) of the Information Technology
					(Intermediaries Guidelines) Rules, 2011 that require publishing the rules and regulations, privacy policy and
					Terms of Use for access or usage of the website https://www.shiroest.com (hereinafter referred to as the
					“website”).</p>
				<p>The domain name http://www. shiroest.com (hereinafter referred to as the "website") is owned by shiroest
					Technologies Private Limited.
					For the purpose of these Terms of Use and including the applicable policies which are incorporated herein by
					way of reference, wherever the context so requires “Website Owner” and “Website” shall mean shiroest
					Technologies Private Limited and http://www. shiroest.com respectively.</p>
				<h3> USER ELIGIBILITY </h3>
				<p>For the purpose of these Terms of Use and including the applicable policies which are herein by way of
					reference, wherever the context so requires “User” or “he/ she” or “his/ her” shall mean any natural or legal
					person who is competent to enter into a legally binding Contract under the “Indian Contract Act, 1872”
					(hereinafter referred to as the “Contract Act”). Any person who is not competent under the Contract Act to
					enter into a legally binding Contract including minors, un- discharged insolvents, persons of unsound mind etc
					are not eligible to use this App and website. </p>
				<h3> NATURE OF CONTRACT </h3>
				<p>Here the rights to use the product are transferred to you on payment of the rent to Shiroest and thus you are
					the deemed owner of the usage rights of the good. In no way this contract signifies that the good belongs to
					you on a permanent basis, the same have to be returned in a condition similar to the condition in which it was
					delivered to you. As per the MVAT Act, this is transfer of usage rights to you.</p>
				<h3> TENURE OF CONTRACT </h3>
				<p>Contract has a period that is equivalent to the tenure of the contract that has been chosen by the customer
					while taking the product. The return date is fixed and is imprinted on the proforma invoice, the apparel /
					accessory has to be returned in as-is condition, by the return date, as was delivered to the customer by
					Shiroest.</p>
				<h3> USER ACCOUNT AND REGISTRATION </h3>
				<p>The App User / Website may need not register himself/ herself to navigate through this App / Website, but, is
					required to register himself/ herself on this App/Website by making an Account on this App/Website, called as
					the “Shiroest Account” for availing all/some of the services provided by this App/ Website, including, but not
					limited to renting of the products available on this App / Website.</p>
				<p>The App User / Website user shall be allowed to rent the products displayed on this App / Website or avail
					any of the services provided by this App / Website, only after registering himself/ herself on this App /
					Website. App User/ Website User shall maintain the privacy and confidentiality of the information provided by
					him/ her for registering himself/ herself on this App / Website called the “Account Information” including,
					but not limited to the Display Name and the Password. The App User / Website User shall be solely liable and
					responsible for the correctness of the Account Information being provided by him/ her.</p>
				<p>The App User / Website User may also register by logging into his/ her account with a third party social
					networking Sites, including, but, not limited to Facebook and Instagram. The App User / Website User may
					choose to link his/ her Shiroest Account with third party accounts, by either Providing App User’s / Website
					User’s third party account information to this App/ Website on Shiroest Account, or Allowing the App Owner
					/Website Owner to access the App User’s /Website User’s third party account on the social networking site, as
					is permitted under the applicable terms and conditions that govern the App User’s / Website User’s use of each
					of the third party account on the social networking Site.</p>
				<p>The App / Website User represents and warrants that he/ she is entitled to disclose his/ her third party
					account login information on the social networking site(s) to the App / Website Owner including, but not
					limited to, for the purpose described herein, without breaching any of the conditions that govern the App /
					Website User’s use of the applicable Third Party Account on the social networking site(s) and without making
					the App / Website Owner responsible in any manner, whatsoever. By granting App /Website Owner the access to
					any Third Party Account on the applicable social networking site(s), the App /Website User understands that
					the App /Website Owner will access, make available and store any content that the App/Website User has
					provided to and stored in the App/Website Owner’s Third Party Account on the applicable social networking
					site(s). Unless otherwise specified in the Terms of Use of this App/Website, all information provided by the
					App/Website User to the Third Party Account on the applicable social networking Site(s) shall be considered to
					be information provided by the App/Website User to this App/Website for all purposes. Depending on the privacy
					settings that the App /Website User has chosen in such Third Party Account on the applicable social networking
					Site(s), any personally identifiable information that the App/Website User posts on such Third Party Account
					on the applicable social networking site(s) would be available through the App/Website User’s Shiroest
					Account. If the App /Website User’s Third Party Account on the applicable social networking site(s) becomes
					unavailable or the App/Website Owner’s access to App/Website User’s Third Party Account on the applicable
					social networking site(s) is terminated by the Third Party Account service provider, then in that case the
					content which was being accessed by the App/Website Owner through such Third party Account would no longer be
					available on this Site.</p>
				<p>The App/Website User’s relationship with the Third Party Service Provider associated with the App /Website
					User’s Third Party Account on the applicable social networking site(s) is solely governed by the App /Website
					User’s agreement(s) with such Third Party Service Provider. The App /Website Owner does not review any of the
					information provided by the App/Website User to such Third Party Account on the applicable social networking
					site(s) for any purpose, including, but not limited to, for accuracy, legality or non-infringement and the
					App/Website Owner is not responsible for any information which the App/Website Owner uses from the Third Party
					Account.</p>
				<p>The App /Website User agrees that if the App/Website User provides any information which is inaccurate, not
					current or incomplete or where the App/Website Owner has reasonable grounds to suspect that such information
					is untrue, inaccurate, not current or incomplete, or not in accordance with the Terms of Use of this App
					/Website then the App/Website Owner shall have the right to indefinitely suspend or terminate or block access
					to membership of the App/Website User on this App /Website and refuse the App/Website User access to this
					App/Website, without assigning any reason(s), thereof.</p>
				<h3> PAYMENT POLICY </h3>
				<p>The refundable deposit, if any, has to be paid in full while accepting the delivery for the placed order. The
					affiliates of Shiroest completing the delivery will hand over a proforma invoice with the payment details
					chosen by the customer. The invoice / receipt would be mailed to you electronically on successful completion
					of the order.</p>
				<p>There are no charges for delivery and pick-up, However Shiroest may start charging for the extra service at
					any point in future. The deposit, if any, is a refundable & interest free amount, billed to you at the time of
					delivery or at the time of confirming the order online and will be subject to refund only post successful
					verification of the quality of the apparel returned to Shiroest.</p>
				<p>The deposit, partially or in full, may be retained if the apparel is damaged beyond repair i.e. can’t be
					repaired or the cost of repairs being very high.</p>
				<h3> DAMAGE POLICY </h3>
				<p>The Lessee agrees to pay for any damage to, loss of, or any theft (disappearance) of apparel/accessory ,
					regardless of cause or fault.</p>
				<p>Minor wear and tear is accepted and will be ignored, on consideration and acceptance by Shiroest.</p>
				<p>Any damage that results in the product being unusable will result in the deposit amount being charged to the
					lessee.</p>
				<p>Stains on apparel/accessory which are not removable via dry cleaning / cleaning will result in deposit amount
					being charged to the lessee. The extent of damage would be ascertained by comparing against the apparel as was
					delivered to you by Shiroest. Any variation showing damages, if ascertained as not caused by normal wear and
					tear, would result in the deposit being retained.</p>
				<h3> REFUND POLICY </h3>
				<p>If the apparel / accessory quality check is complete without any reports on wear and tear and damage to the
					apparel, the whole amount of refundable deposit will be refunded to the Lessee without any interest within 7
					working days. It is clarified that any cancellation of the Order(s) made by the App/Website User for any of
					the product(s) shall be subject to the Return and Cancellation Policy. All the provisions of the Return and
					Cancellation Policy shall govern any of the cancellation requests made by the App/Website User in relation to
					any of the Order(s) placed by him/ her.</p>
				<h3> USE OF THIS SITE </h3>
				<p>The App/Website User shall at all times while accessing, uploading and/ or using the services of this
					App/Website shall abide by the following principles :</p>
				<p>App/Website User shall not host, display, upload, modify, publish, transmit, update or share any information,
					including but not limited to, content, image or graphic, which:</p>
				<p>belongs to another person and to which the App /Website User does not have any right to; is grossly false,
					inaccurate, harmful, harassing, abusive, blasphemous, defamatory, obscene, pornographic, paedophilic,
					libellous, invasive of another's privacy, hateful or racially, ethnically objectionable, disparaging, relating
					or encouraging money laundering or gambling, or otherwise unlawful in any manner whatever; or unlawfully
					threatening or unlawfully harassing in any manner, whatsoever;</p>
				<p>is misleading or harms minors in any way;</p>
				<p>is patently offensive to the online community, such as sexually explicit content or provides material that is
					violent or otherwise inappropriate or solicits personal information from anyone or provides content that
					promotes obscenity, paedophilia, racism, bigotry, hatred or physical harm of any kind against any group or
					individual;</p>
				<p>involves the transmission of "junk mail", "chain letters", or unsolicited mass mailing or "spamming";</p>
				<p>infringes upon or violates any third party's rights, including, but not limited to, intellectual property
					rights, which includes patents, trademarks, copyrights or other proprietary rights, rights of privacy
					(including without limitation unauthorized disclosure of a person's name, email address, physical address or
					phone number) or rights of publicity;</p>
				<p>contains restricted or password-only access pages, or hidden pages or images (those not linked to or from
					another accessible page);</p>
				<p>provides information violating someone's privacy, or provides or creates computer viruses;</p>
				<p>contains video, photographs, or images of another person, without that person’s consent; impersonates another
					person;</p>
				<p>tries to gain unauthorized access or exceeds the scope of authorised access to the App or to profiles, blogs,
					communities, account information, bulletins, friend requests, or other areas of the App or solicits passwords
					or personal identifying information for commercial or unlawful purposes from other App Users;</p>
				<p>interferes with another App/Website User's use and enjoyment of this App/Website or refers to any other
					website or URL, that in App/Website Owner’s sole discretion, contains material that is inappropriate for this
					App /Website or any other website, contains content which is prohibited or violates the letter or spirit of
					these Terms of Use.</p>
				<p>violates any law for the time being in force;</p>
				<p>deceives or misleads the addressee and/ or other App/Website Users about the origin of such messages or
					communicates any information which is grossly offensive or menacing in nature;</p>
				<p>contains software viruses or any other computer code, files or programs designed to interrupt, destroy or
					limit the functionality of any computer resource;</p>
				<p>threatens the unity, integrity, defence, security or sovereignty of India, friendly relations with foreign
					states, or public order or causes incitement to the commission of any cognizable offence or prevents
					investigation of any offence or is insulting for any other nation.</p>
				<p>The App/Website User shall not create liability for the App/Website Owner or cause the App/Website Owner to
					lose (in whole or in part) the services of App /Website Owner’s internet service provider ("ISPs") or other
					suppliers;</p>
				<p>The App/Website User shall at all times abide by the requirements of the Information Technology Act, 2000
					(hereafter referred to as the “IT Act”) and the rules, regulations, policies, guidelines, bye laws and
					notifications made thereunder and/ or any law which is applicable for the time being in force while uploading
					any content, accessing, or using the services offered by this App/Website. The App/Website User shall
					unequivocally declare that in case of violation of any of the provisions of the IT Act and/ or rules,
					regulations, bye-laws, policies, guidelines and notifications made thereunder and/ or any law which is
					applicable for the time being in force, the App/Website User shall be solely responsible at his/ her own costs
					for all acts, deeds and things and the App/Website User shall be liable for any kind of civil or criminal
					liability there under.</p>
				<h3> CONTENT ON THIS SITE </h3>
				<p>This App/Website may contain references/ links to Third Party Websites/ Resources, including but not limited
					to, products, services or other content. The App/Website User acknowledges that the App Owner is not liable in
					any manner, whatsoever, for any of such content, which includes the availability and/ accuracy of such
					websites/ resources and the content, products or services offered by such websites/ resources as may be
					displayed on this App/Website or that the App/Website User may be re- directed to while accessing this App or
					availing the services offered by this App/Website. It is hereby clarified that the references/ links to such
					Third Party Websites/ Resources, which may be displayed on this App/Website, are not owned, operated or
					controlled by the App/Website Owner and it does not imply any endorsement by the App/Website Owner. The
					App/Website Owner shall not be liable for any of the privacy practices of the Third Party Website(s)/
					Reference(s).</p>
				<p>Any comments, feedback and/ or suggestions posted by the App /Website User on this App /Website are the sole
					and exclusive property of the App /Website Owner and the App /Website User assigns unequivocal and irrevocable
					right, title and interest including but not limited to trade secret, moral, proprietary and other intellectual
					rights therein, in all the comments, feedback and/ or suggestions posted by him/ her on this App/Website. The
					App/Website User explicitly agrees that the App /Website Owner has the exclusive discretion to remove any
					content uploaded by him/ her or restrict the publication of any content on this App/Website, without assigning
					any reasons to the App /Website User. The App/Website User hereby explicitly agrees that the App/Website Owner
					may use the content uploaded by him/ her for any purpose as it may deem fit to the App/Website Owner,
					including but not limited to, promotion, advertisement and marketing the services offered by this App/Website
					without taking any consent of the App/Website User and without any payment by the App /Website Owner in
					relation to such use to the App /Website User. It is also clarified that the content uploaded by the App
					/Website User shall be in consonance with these Terms of Use.</p>
				<p>The App/Website User is required to provide a valid phone number, credit card/debit card details, accurate
					and full Shipping Address in order to avail the Services provided by the App /Website Owner, including and not
					limited to, placing orders for renting or purchasing the Products displayed on this App/Website. By
					registering the phone number with the App/Website Owner, the App/Website User consent to be contacted by the
					App /Website Owner via phone calls and/or SMS notifications, in case of any Order or shipment or delivery
					related updates.</p>
				<p>Content made available on this App/Website, including but not limited to, images, specification of the
					products or any comments or reviews of the App User are available on “as is” and “as available” basis and is
					displayed solely for informational purpose. The content made available on this App/Website shall not be relied
					by the App/Website User as substitutes for professional advice or services. App /Website Owner expressly
					disclaims any warranties or representations (express or implied) in respect of quality, authenticity,
					suitability, accuracy, merchantability, fitness for a particular purpose, or legality of the listed product
					(including product or pricing information and/or specifications) on the website. It is hereby clarified that
					the App /Website Owner shall have the sole discretion to update, change or modify the content made available
					on this App/Website. The App/Website User exclusively agrees and acknowledges that the App/Website Owner is
					not liable for any non-disclosure or incomplete disclosure of any information in relation to the products
					displayed or the services offered by this App/Website.</p>
				<p>In relation to products listed by Contributors, iIt is hereby clarified that the App/Website Owner is not
					partnering or associated in any manner with any of the Contributors and/or Brands or Designers of the products
					listed by Contributors specified on this App/Website. The products listed by Contributors and displayed on
					this App/Website are not provided under the authority and control of the specific Brands or Designers, as the
					case may be. The copyright, design rights and other intellectual property rights in relation to the products
					listed by Contributors on this App/Website are owned by the specific Brand or Designer, as the case may be and
					the App/Website Owner does not own or have any right in such copyright, design rights or other intellectual
					property rights associated with any of the products displayed on this App/Website. At no time shall any right,
					title or interest in the products listed by Contributor vest with App/Website Owner nor shall App/Website
					Owner have any obligations or liabilities in respect of any transactions on the website pertaining to the
					products listed by Contributors.</p>
				<p>Each of the products (other than those displayed by Contributors) displayed on this App/Website are
					exclusively owned by the App/Website Owner. The copyright, design rights and other intellectual property
					rights in relation to the products displayed on this App/Website are owned by the specific Brand or Designer,
					as the case may be and the App/Website Owner does not own or have any right in such copyright, design rights
					or other intellectual property rights associated with any of the products displayed on this App/Website.</p>
				<h3> DISCLAIMER </h3>
				<p>The App /Website Owner does not guarantee that the App/Website User will always have an uninterrupted access
					to this App/Website and it does not warrant that the information available on this App/Website is complete,
					true, accurate and not misleading. Nothing on this App/Website constitutes or is meant to constitute advice of
					any kind. The App /Website Owner will make their best effort to provide an error free and continuously
					available App/Website without any dangerous elements being sent to the App/Website User’s computer, laptop,
					mobile phone or any other device with which he/ she is using this App/Website. However, the App /Website Owner
					shall not be liable to the App/Website User in any way, in relation to the content, use, electronic
					communication sent or otherwise anything in connection with this App/Website is free from viruses or other
					harmful components. The App/Website Owner cannot fully control the internet’s flow of information, it cannot
					ensure that they do not contain any elements that may harm the App/Website User’s computer, laptop, mobile
					phone or any other device with which the App/Website User is using this App/Website.</p>
				<p>The App/Website Owner may, at its own discretion, at any time without any prior notice, take steps to ensure
					the security and quality of this App /Website and restrict or limit the access to this App/Website.</p>
				<p>Shiroest is not affiliated with, endorsed or sponsored by the trademark holders of the product. The
					trademarks are used on the website to identify products of the respective trademark holders and to inform the
					customers of their source.</p>
				<h3> INDEMNITY </h3>
				<p>The App/Website User shall indemnify the App /Website Owner, its subsidiaries, representatives, affiliates,
					assigns, group companies, employees, directors, agents and officers against all the liabilities arising out of
					the use of this App/Website and/ or any claims, demands, expenses, liabilities (including statutory
					liability), penalties, damages (including but not limited to, compensatory, direct, incidental or
					consequential), awards, losses, costs (including, but not limited to, legal fees) or actions arising out of
					any applicable law or the breach or non performance of any of the provisions of these Terms of Use or any of
					the Policies by which this App /Website is governed, including but not limited to Privacy Policy, Intellectual
					Property Policy, Return and Cancellation Policy, Product Rental Agreement (where applicable) or due to
					hacking/ lapse in the security of this App/Website.</p>
				<h3> INTELLECTUAL PROPERTY </h3>
				<p>All content included on the website, such as text, graphics, logos, button icons, images, audio clips,
					digital downloads, data compilations, and software, is the property of the App/Website Owner, its affiliates,
					its business associates or its Contributors and is protected by India and international trademark, copyright,
					authors rights and database right laws. The compilation of all content on this website is the exclusive
					property of App/Website Owner and its affiliates and is protected by laws of India and international copyright
					and database right laws. All software used on this website is the property of App/Website Owner, its
					affiliates or its software suppliers and is protected by India and international copyright and author rights
					laws.</p>
				<p>App/Website User may not systematically extract/ or re-utilise parts of the contents of the website. In
					particular, App/Website User may not utilise any data mining, robots, or similar data gathering and extraction
					tools to extract (whether once or many times) for re-utilisation of any substantial parts of this website. You
					may also not create and/ or publish your own database that features substantial (eg: prices and product
					listings) parts of this website.</p>
				<p>The App/Website Owner respects the intellectual property of others. If the App/Website User is of the opinion
					that any of the products displayed on this App/Website infringes his/ her copyright, then a request may be
					made to the App/Website Owner on the details available on this App /Website for the removal of the said
					product from this App/Website. The request shall be made and the same shall be processed according to the
					Intellectual Property Policy of this App/Website. The App/Website Owner may, at its sole discretion, take any
					action as it may deem fit to them.</p>
				<h3> CONFIDENTIALITY </h3>
				<p>The App/Website User hereby agrees that he/ she shall not disclose to any third party any trade secret or
					confidential information pertaining to this App/Website, including but not limited to, services offered,
					products available, App/Website content and transaction undertaken on this App/Website. The provisions of the
					Privacy Policy of this App/Website shall apply in case of breach of this clause.</p>
				<h3> LIMITATION OF LIABILITY </h3>
				<p>In no case, shall the App/Website Owner be liable for any special, direct, indirect, incidental or
					consequential damages of any kind in connection with the usage or anything which is available on this
					App/Website. Notwithstanding anything, which is stated in these Terms of Use and all other policies available
					on this App/Website, in the unlikely and rare scenario, the App/Website User hereby acknowledges that in any
					event, the App /Website Owner’s aggregate liability with respect to the service and/ or usage of this
					App/Website shall be limited to and not exceed, the sum equivalent to the Rental Fee or the Sale Price of the
					single and the most recent transaction undertaken by him/ her on this App/Website and shall be as per these
					Terms of Use (excluding the Delivery Charges and/ or any other extra charges, if any).</p>
				<h3> APPLICABLE LAWS AND JURISDICTION </h3>
				<p>Terms of Use and all other policies available on this App/Website shall be interpreted and construed in
					accordance with the laws of India.</p>
				<p>Any dispute or claim relating to products available on this App/Website or the services rendered by this
					App/Website , its enforceability or the termination under these Terms of Use and/ or other policies available
					on this App shall be governed by the Arbitration and Conciliation Act, 1966 by a sole arbitrator, who shall be
					appointed by the App/Website Owner. The place of Arbitration shall be Mumbai and the language of proceedings
					shall be English. The App/Website User and the App/Website Owner agree specifically to submit to the exclusive
					jurisdiction of the Courts of Bombay at Mumbai, India over any disputes relating to the subject matter,
					herein.</p>
				<p>Unless, otherwise specified, the products available and the services offered by this App/Website are solely
					rendered in India. The App/Website Owner makes no representation that the products on this App/Website are for
					use/ available in any other Country/ location other than India. The App/Website User may choose to access this
					App/Website from any other location, other than India, but, he/ she does this in his/ her sole discretion and
					the App/Website Owner shall not be responsible, in any manner, for supply/ delivery of products ordered from
					locations, other than India.</p>
				<h3> GENERAL PROVISIONS </h3>
				<p>If the App/Website User does not agree to any of the provisions of these Terms of Use and/ or the provisions
					of the other Policies available on this App/Website, including but not limited to, Privacy Policy,
					Intellectual Property Policy, Return and Cancellation Policy, Product Rental Agreement (where applicable) then
					the only remedy with him/ her shall be to not use/ access this App/Website and discontinue using the account
					made on this App/Website.</p>
				<p>The App/Website Owner acknowledges and agrees that he/ she abides and is well aware of all the provisions of
					these Terms of Use and all the Policies available on this App/Website , including but not limited to, Privacy
					Policy, Intellectual Property Policy, Return and Cancellation Policy, Product Rental Agreement (where
					applicable) before placing any Order for a product displayed on this App /Website. The App /Website Owner is
					an individual contractor and the App/Website Owner is in no manner acting as the App/Website User’s agent.</p>
				<p>The App/Website Owner shall not be responsible in any manner, including but not limited to, delay or failure
					to comply with their obligations arising as per these Terms of Use and/ or other Policies available on this
					App/Website, in case of events like acts of God, fire, wars, sabotage, civil unrest, riots, labour unrest,
					action of Statutory Authorities/ local authorities or State/ Central Government, change in laws/ rules/
					regulations and/ or any cause which is beyond the reasonable control of the App/Website Owner.</p>
				<p>If the App/Website User breaches any of the provisions of these Terms of Use and/ or other Policies available
					on this App/Website, the App/Website Owner shall still be entitled to enforce their rights/ remedies arising
					out of this Terms of Use and/ or other Policies available on this App/Website.</p>
				<p>Unless otherwise stated expressly, the delay/ failure by the App/Website Owner in exercising any right(s)/
					remedy(ies) arising out of these Terms of Use and/ or other Policies available on this App/Website, hereunder,
					shall not constitute a waiver of right(s) or remedy(ies) and no single/ partial exercise of any right(s) or
					remedy(ies), hereunder, shall prevent any further exercise of the right(s)/ remedy(ies) by them.</p>
				<p>If any of the provisions of this Terms of Use or the provisions of the Policies available on this
					App/Website, hereunder becomes in whole or in part, invalid or unenforceable, but, the same would be valid and
					enforceable if some part of that provision which is invalid/ unenforceable is deleted and the remaining
					provision shall apply with such deletions, that may be necessary to make it valid and enforceable. If any
					Court/ Tribunal of competent jurisdiction holds any of the provisions of these Terms of Use and/ or provisions
					of the Policies available on this App/Website, hereunder invalid or unenforceable, the remainder of the
					provisions shall remain in force, the unlawful or otherwise ineffective provision shall be substituted by a
					new provision reflecting the intent of the provision so substituted.</p>
				<h3> COMMUNICATION </h3>
				<p>When the App/Website User uses this App/Website or send emails or other data, information or communication to
					the App/Website Owner, the App/Website User agrees and understands that he/ she are communicating with the App
					/Website Owner through electronic records and the App/Website User consents to receive communications via
					electronic records from the App/Website Owner periodically and as and when required. The App/Website Owner may
					communicate with the App/Website User by email or by such other mode of communication, electronic or
					otherwise.</p>
				<p>All notices, requests, demands, waivers and other communications required or permitted to be given hereunder
					shall be sent to care@flyrobe.com, if to the App Owner, if to the App User, it shall be to the email address
					and/or postal address registered with the App Owner. If to the Contributor it shall be sent to shiroest.com
				</p>
				<p>Shiroest retains the right to alter and amend these terms of use at any time without intimation and the
					amended Terms of use would be available at the same page for reference.</p>
			</div>
		</div>
	</div>
</section>