/* You can add global styles to this file, and also import other style files */

/* added by benai "included a Theme*/
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";
@import "./variables";

html {
  font-size: 0.8rem;
  @include media-breakpoint-up(sm) {
    font-size: 16px;
  }
}

@font-face {
  font-family: 'aktiv-grotesk, sans-serif';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2) format('woff2');
  font-display: swap;
}

body {
  color: #31373d;
  letter-spacing: 0.01rem;
  font-family: aktiv-grotesk, sans-serif;
}

img, button {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

.row {
  align-items: center;
  justify-content: center;
  padding: 0;

  .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &.text-left {
      align-items: flex-start;

      h2 {
        text-align: left;
      }
    }
  }
}

.shadow {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.18);
}

section {
  padding-top: 50px;
  padding-bottom: 50px;

  .container {
    //tags

    p, span {
      color: $light-grey;
      font-weight: 300;
    }

    h1,
    h2 {
      font-weight: 700;
      margin-bottom: 20px;
    }

    h1 {
      font-size: 50px;
    }

    h2 {
      font-size: 30px;
    }

    h3 {
      font-size: 20px;
      margin-bottom: 10px;
    }

    h4 {
      font-size: 16px;
    }

    //button
    .btn-outline-primary {
      color: $black;
      font-weight: bold;
      border-color: $primary;
      border: 2px solid $primary;
      font-weight: 700;

      &:hover {
        background-color: $primary;
        color: $white;
        font-weight: 700;
      }
    }

    .btn {
      height: 42px;
    }

    .btn-primary {
      color: $white;
      background-color: $primary;
      border: none;
      font-weight: 500;
    }
  }
}

//materia dialog
.custom-dialog-container
  .mat-dialog-container {
    padding-top: 10px;
}


@include media-breakpoint-down (md) {
  section {
    .container {
      padding: 0 25px;
    }
  }
}

@include media-breakpoint-down (sm) {
  section {
    padding-top: 30px;
    padding-bottom: 30px;

    .container {
      padding: 0 25px;

      .row {
        .col {
          h1 {
            font-size: 30px;
          }

          span,
          p {
            font-size: 16px;
          }
        }
      }
    }
  }
}
