@import "../../../variables";

.container {
  .row  {
    &:first-child {
      .col {
        padding: 0;
      }
    }

    h3 {
      margin-bottom: 20px;
      font-weight: 500;
    }

    .fa {
      padding-right: 20px;
      font-size: 24px;
    }

    p {
      font-size: 20px;
    }

    .fa-times {
      cursor: pointer;
    }

    .fa-envelope {
      color: blue;
    }

    .fa-map-marker {
      color: $primary;
    }

    .fa-phone {
      color: green;
    }
  }
}
