<div class="container">
  <div class="row">
    <div class="col col-12 align-items-end">
      <i class="fa fa-times" (click)="close()"></i>
    </div>
  </div>
  <div class="row">
    <div class="col col-12 text-left">
      <h3>Reach us Out</h3>
      <div class="d-flex">
        <p><i class="fa fa-phone"></i></p>
        <p>9886177255</p>
      </div>

      <div class="d-flex">
        <p><i class="fa fa-envelope"></i></p>
        <p>theshiroest@gmail.com</p>
      </div>

      <div class="d-flex">
        <p><i class="fa fa-map-marker"></i></p>
        <p>#209 83rd cross 2nd Stage <br> Kumaraswamy Layout Bangalore-78</p>
      </div>
    </div>
  </div>
</div>
