@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";
@import "../../variables";


@include media-breakpoint-down (sm) {
  .container {
    .row {
      img {
        max-height: 120px;
      }
    }
  }
}


.container {
  .fa {
    font-size: 24px;
    cursor: pointer;
  }
}

