<div class="container">
  <div class="row">
    <div class="col col-12 align-items-end">
      <i class="fa fa-times" (click)="close()"></i>
    </div>
  </div>
  <div class="row align-items-start">
    <div class="col col-12 col-sm-4 text-left">
      <div class="row align-items-start">
        <div class="col col-4">
          <img [defaultImage]="defaultImage" [lazyLoad]="'assets/logo/rent-one.jpg'" alt="First slide">
        </div>
        <div class="col col-8 text-left">
          <h3>Rent</h3>
          <p>Visit our store and try the desire apperal you want and Rent it along with a smile.</p>
        </div>
      </div>
    </div>
    <div class="col col-12 col-sm-4 text-left">
      <div class="row align-items-start">
        <div class="col col-4">
          <img [defaultImage]="defaultImage" [lazyLoad]="'assets/logo/wear-one.png'" alt="First slide">
        </div>
        <div class="col col-8 text-left">
          <h3>Wear</h3>
          <p>Look good with the outfit on you and Slay you day.</p>
        </div>
      </div>
    </div>
    <div class="col col-12 col-sm-4 text-left">
      <div class="row align-items-start">
        <div class="col col-4">
          <img [defaultImage]="defaultImage" [lazyLoad]="'assets/logo/return-one.jpg'" alt="First slide">
        </div>
        <div class="col col-8 text-left">
          <h3>Return</h3>
          <p>You have to visit to the store and return the outfit, and we will send you back with a small surprise :)
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
