@import "../../variables";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

section {
  background-image: linear-gradient(21deg, #1d1c39 62%, #34325b 94%);

  &.contact-us {
    .container {
      .row  {
        .d-flex {
          button:first-child {
            margin-right: 40px;
            color: $white;
            padding: 6px 48px;
          }

          button:last-child {
            padding: 6px 66px;
          }
        }

        h2,
        p {
          color: $white;
        }

      }
    }
  }
}

@include media-breakpoint-down (sm) {
  section {
    &.contact-us {
      .container {
        .row  {
          .col {
            .d-flex {
              button:first-child {
                margin-right: -4px;
              }
            }
          }
        }
      }
    }
  }
}

@include media-breakpoint-only (md) {
  section {
    &.contact-us {
      .container {
        .row {
          .d-flex {
            button:first-child {
              margin-right: 14px;
            }
          }
        }
      }
    }
  }
}
