<section class="contact-us">
  <div class="container">
    <div class="row">
      <div class="col col-12 col-sm-5 text-left">
        <h2>Find Your Style With Shiroest</h2>
        <p class="font-weight-normal">Contact us for our products and Offers get personalized style advice and feel the magic!</p>
      </div>
      <div class="col col-12 col-sm-7">
        <div class="d-flex">
          <button class="btn btn-outline-primary" (click)="contactUsDetail()">Contact us</button>
          <button class="btn btn-primary" type="button" (click)="offersDetail()">Offers</button>
        </div>
      </div>
    </div>
  </div>
</section>
