<footer>
  <div class="container">
    <div class="row align-items-start">
      <div class="col col-12 col-lg-3 col-md-6 col-sm-4 text-left order-lg-1 order-md-4">
        <h5>Reach Out</h5>
        <div class="d-flex">
          <p><i class="fa fa-phone"></i></p>
          <p>9886177255</p>
        </div>

        <div class="d-flex">
          <p><i class="fa fa-envelope"></i></p>
          <p>theshiroest@gmail.com</p>
        </div>

        <div class="d-flex">
          <p><i class="fa fa-map-marker"></i></p>
          <p>#209 83rd cross 2nd Stage Kumaraswamy Layout Bangalore-78</p>
        </div>
      </div>

      <div class="col col-6 col-lg-3 col-md-4 text-left sub-heading-space order-lg-2">
        <h5>Policies</h5>
        <a  routerLink="/cancellation-policy">Return & Cancellation</a>
        <a  routerLink="/terms-condition">Term & Condition</a>
        <a  [routerLink]="['/privacy-policy']">Privacy Policy</a>
      </div>

      <div class="col col-6 col-lg-3 col-md-4 text-left sub-heading-space order-lg-3">
        <h5>Offers</h5>
        <a [routerLink]="['rent/refer-and-earn']" routerLinkActive="router-link-active" >Refer and Earn</a>
        <a [routerLink]="['rent/rent-with-us']" routerLinkActive="router-link-active" >Rent With us</a>
      </div>

      <div class="col col-6 col-lg-3 col-md-4 text-left sub-heading-space mr-auto order-lg-4 order-md-1">
        <h5>Information</h5>
        <a [routerLink]="['/about-us']">About Us</a>
        <a [routerLink]="['/faq']">FAQ's</a>
        <a [routerLink]="['/support-us']" routerLinkActive="router-link-active">Support us</a>
        <!-- <a href="#">Feedback</a> -->
      </div>
    </div>

    <div class="row">
      <div class="col col-12 col-md-6">
        <div class="d-flex social">
          <a target="_blank"><i class="fa fa-facebook"></i></a>
          <a target="_blank"><i class="fa fa-instagram"></i></a>
          <a target="_blank"><i class="fa fa-medium"></i></a>
          <a target="_blank"><i class="fa fa-twitter-square"></i></a>
        </div>
      </div>
      <div class="col col-12 col-md-6">
        <h5>Serving the most effordable rental</h5>
      </div>
    </div>

    <div class="row">
      <div class="col col-12">
        <p>&copy;2019, Shiroest all rights reserved</p>
      </div>
    </div>
  </div>
</footer>
