@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";
@import "../../variables";

footer {
  background-color: $black;

  .container {
    color: #fff;
    opacity: 0.9;
    padding: 60px 20px;

    h5 {
      font-size: 18px;
      padding-bottom: 18px;
    }

    a,
    p {
      font-size: 14px;
      font-weight: normal;
      color: $white;
    }

    .sub-heading-space {
      a {
        margin-bottom: 6px;
      }
    }

    .d-flex p {
      &:last-child {
        padding-left: 30px;
      }

      .fa {
        font-size: 20px;
      }
    }

    .row {
      .d-flex {
        .material-icons {
          padding-right: 20px;
        }
      }

      .col {
        margin-bottom: 36px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      .fa-envelope {
        color: lightblue;
      }

      .fa-map-marker {
        color: $primary;
        font-size: 30px;
      }

      .fa-phone {
        color: green;
      }

      .social {
        a {
          padding-right: 44px;

          &:last-child {
            padding-right: 0;
          }

          &:hover {
            color: $primary;
          }
        }

        .fa {
          font-size: 34px;
        }
      }
    }
  }
}

@include media-breakpoint-down (sm) {
  footer {
    .container {

    }
  }
}
