@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";
@import "../../variables";

.container {
  max-width: 550px;
  max-height: 240px;
  width: 500px;

  .row:first-child {
    .col {
      padding: 0;

      i {
        font-size: 20px;
        padding-bottom: 10px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

@include media-breakpoint-down (sm) {
  .container {
    max-width: 100%;
    max-height: 100%;

    .col {
      p {
        font-size: 16px;
      }
    }
  }
}

