<div class="container">
  <div class="row">
    <div class="col col-12 align-items-end">
        <i class="fa fa-times" (click)="close()"></i>
    </div>
  </div>
  <div class="row">
    <div class="col col-12 col-md-5">
      <img [defaultImage]="defaultImage" [lazyLoad]="'assets/logo/location.svg'" alt="location">
    </div>
    <div class="col col-12 col-md-7 text-left">
      <h3>Drop in for Exiting offers</h3>
       <p>#209 83rd cross kumaraswamy Layout<br> Bangalore - 560078 <br> Land Mark: Kumarswamy Layout Police Station</p>
    </div>
  </div>
</div>
