<section class="about-us">
    <img src="assets/about-us/about-us-hero.svg" alt="assets/about-us/about-us-hero.svg">
  <div class="container">
    <div class="row">
      <div class="col col-12 text-left">
        <div class="about-us-tag">
          <h1>Shiroest</h1>
          <h2>Powering how renting work</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mission">
  <div class="container">
    <div class="row">
      <div class="col col-12 col-md-7 text-center">
        <h2>Our mission</h2>
        <span>"Shiroest is reinventing how renting works"</span>
        <p class="mt-2">We want to revolutionise the way renting work, by providing sustainable alternative that is better for our community. We indroduce out customre with the most trendy clothes, with the best value and price.</p>
        <span>Go concur the world - we will make sure that you look damn good doing it .. !</span>
      </div>
      <div class="col col-12 col-md-5 text-center">
        <img [defaultImage]="defaultImage" [lazyLoad]="'assets/about-us/mission.svg'" alt="assets/about-us/mission.svg">
      </div>
    </div>
  </div>
</section>

<section class="our-story">
    <div class="container">
      <div class="row">
        <div class="col col-12 col-md-5 text-left">
            <img [defaultImage]="defaultImage" [lazyLoad]="'assets/about-us/story.svg'" alt="assets/about-us/story.svg">
        </div>
        <div class="col col-12 col-md-7">
          <h2>Our Story</h2>
          <p class="text-left">It all started with a personal experince on May 17 2019, where we went to rent an outfit for an ocassoin, the renting process was a bit painfull. Our goal is to make the experience of renting
            much easier and hazel free.
            Few months later four of us started working every day to live and breath our mission, to create an exiciting
            new service that help anyone disover, experince, and enjoy great renting wihtout any limitations.
            We believe that fashion has the ability to transform your sense of self–to make you look stunning and feel just as amazing.
            We are just getting started.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="team">
      <div class="container">
        <div class="row">
          <div class="col col-12 col-md-8 text-center">
            <h2>Our Team</h2>
            <p> We are bunch of FOUR crazy folks who share a common vision to make Shirost a brand.
              We're driven by ideas that the best work is born from diligence, craftmenship and fun.</p>
          </div>
        </div>
        <div class="row align-items-start">
          <div class="col col-12 col-md-3" *ngFor="let wefour of we">
            <img [defaultImage]="defaultImage" [lazyLoad]="wefour.pic" alt="wefour.pic">
            <h3>{{ wefour.name }}</h3>
            <p>{{ wefour.description }}</p>
          </div>
        </div>
      </div>
    </section>

