@import "../../../variables";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

section {
  &.about-us {
    img {
      object-fit: cover;
      position: relative;
    }

    .container {
      .about-us-tag {
        position: absolute;
        bottom: 370px;

        h1 {
          font-size: 100px;
        }

        h2 {
          font-size: 60px;
        }

        h1, h2 {
          text-shadow:
            -1px -1px 0 $primary,
            1px -1px 0 $primary,
            -1px 1px 0 $primary,
            1px 1px 0 $primary;
        }
      }
    }
  }

  &.team {
    img {
      width: 70%;
      margin: 20px 0;
    }
  }

  &.mission {
    .container {
      span {
        font-size: 24px;
        font-style: italic;
      }
    }
  }
}

@include media-breakpoint-down (md) {
  section {
    &.about-us {
      margin-top: 58px;
    }
  }
}

@include media-breakpoint-down (md) {
  section {
    &.about-us {
      img {
        object-fit: cover;
        position: relative;
      }

      .container {
        .about-us-tag {
          position: absolute;
          bottom: 84px;

          h1 {
            font-size: 20px;
          }

          h2 {
            font-size: 16px;
          }
        }
      }
    }
  }
}
