@import "../../variables";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

section {
  &.home-hero {
      margin-top: 18px;

    .carousel-indicators {
      li {
        background-color: $black;

        &.active {
          background-color: $primary;
        }
      }
    }

    .carousel-item {
      img {
        max-height: 576px;
      }
    }
  }

  &.home-three-cards {
    .container {
      .hero-card {
        max-width: 300px;
        transition: all 0.5s ease-out;
        cursor: pointer;
        box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.18);
      }

      .hero-header-image {
        background-size: cover;
      }

      .mat-card-image {
        margin: 0;
      }

      .mat-card-header {
        position: relative;
      }

      .mat-card-actions {
        position: absolute;
        bottom: 30px;
      }

      .mat-card {
        min-height: 530px;

        img:hover {
          transition: all 1s;
          transform: scale(1.1);
        }
      }

      .mat-card>.mat-card-actions:last-child {
        margin-left: 0;
        width: 100%;

        .btn-outline-primary {
          width: 88%;
        }
      }
    }
  }

  &.policies {
    .container {
      .row {
        .col>.row {
          .col:first-child {
            padding: 0;
          }

          .col:last-child {
            padding-right: 0;
          }
        }
      }
    }
  }

  &.promote {
    .container {
      .row:last-child {
        h3 {
          font-size: 28px;
          font-weight: 400;
        }
      }
    }
  }
}

@include media-breakpoint-down (sm) {
  section {
    &.home-hero {
      margin-top: 40px;

      .carousel-indicators {
        bottom: -30px;
      }

      .carousel-item {
        img {
          height: 230px;
        }
      }
    }

    &.home-three-cards {
      .container {
        .col {
          margin-bottom: 40px;

          &:last-child {
            margin-bottom: 0;
          }

          .mat-card>.mat-card-actions:last-child {
            margin-left: 0;

            button {
              width: 89%;
            }
          }

          .mat-card-actions {
            width: 90%;
          }
        }

        .mat-card {
          min-height: 470px;
        }
      }
    }

    &.policies {
      .container {
        .row {
          .col {
            margin-bottom: 20px;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}

@include media-breakpoint-down (md) {
  section {
    &.home-hero {
      margin-top: 54px;
    }

    &.home-three-cards {
      .container {
        .mat-card {
          min-height: 380px;
        }
      }
    }
  }
}
