<section class="home-hero">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="d-flex align-items-center justify-content-center">
          <picture>
            <source media="(min-width:550px)" [attr.lazyLoad]="'assets/logo/hero-one.png'">
            <img [lazyLoad]="'assets/logo/first-slide.png'">
          </picture>
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex align-items-center justify-content-center">
          <picture>
            <source media="(min-width:550px)" [attr.lazyLoad]="'assets/logo/hero-two-two.jpg'">
            <img [lazyLoad]="'assets/logo/second-slide.png'">
          </picture>
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex align-items-center justify-content-center">
          <picture>
            <source media="(min-width:550px)" [attr.lazyLoad]="'assets/logo/hero-five.png'">
            <img [lazyLoad]="'assets/logo/third-slide.jpg'">
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="home-three-cards">
  <div class="container">
    <div class="row">
      <div class="col col-12 col-sm-4" [routerLink]="['rent/blazer']">
        <mat-card class="hero-card">
          <mat-card-header>
            <div mat-card-avatar class="hero-header-image"></div>
            <mat-card-title>BLAZER</mat-card-title>
            <mat-card-subtitle>Three Piece</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image [defaultImage]="defaultImage" [lazyLoad]="'assets/logo/first-card.png'" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>

            </p>
          </mat-card-content>
          <mat-card-actions>
            <button class="btn btn-outline-primary">Checkout</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col col-12 col-sm-4" [routerLink]="['rent/pant']">
        <mat-card class="hero-card">
          <mat-card-header>
            <div mat-card-avatar class="hero-header-image"></div>
            <mat-card-title>Pants</mat-card-title>
            <mat-card-subtitle>All kind of fit</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image [defaultImage]="defaultImage" [lazyLoad]="'assets/logo/third-card.jpeg'" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>

            </p>
          </mat-card-content>
          <mat-card-actions>
            <button class="btn btn-outline-primary">Checkout</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col col-12 col-sm-4" [routerLink]="['rent/shirt']">
        <mat-card class="hero-card">
          <mat-card-header>
            <div mat-card-avatar class="hero-header-image"></div>
            <mat-card-title>Shirts</mat-card-title>
            <mat-card-subtitle>With amazing color</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image [defaultImage]="defaultImage" [lazyLoad]="'assets/logo/second-card.jpg'" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>

            </p>
          </mat-card-content>
          <mat-card-actions>
            <button class="btn btn-outline-primary">Checkout</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</section>

<section class="policies">
  <div class="container">
    <div class="row align-items-start">
      <div class="col col-12 col-sm-4 text-left">
        <div class="row align-items-start">
          <div class="col col-4">
            <img [defaultImage]="defaultImage" [lazyLoad]="'assets/logo/rent-one.jpg'" alt="First slide">
          </div>
          <div class="col col-8 text-left">
            <h3>Rent</h3>
            <p>Visit our store and try the desire apperal you want and Rent it along with you  with a smile.</p>
          </div>
        </div>
      </div>
      <div class="col col-12 col-sm-4 text-left">
        <div class="row align-items-start">
          <div class="col col-4">
             <img [defaultImage]="defaultImage" [lazyLoad]="'assets/logo/wear-one.png'" alt="First slide">
          </div>
          <div class="col col-8 text-left">
            <h3>Wear</h3>
            <p>Look good with the outfit on you and Slay you day.</p>
          </div>
        </div>
      </div>
      <div class="col col-12 col-sm-4 text-left">
        <div class="row align-items-start">
          <div class="col col-4">
            <img  [defaultImage]="defaultImage" [lazyLoad]="'assets/logo/return-one.jpg'" alt="First slide">
          </div>
          <div class="col col-8 text-left">
            <h3>Return</h3>
            <p>You have to visit to the store and return the outfit, and we will send you back with a small surprise :)</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-contact-us></app-contact-us>

<section class="promote">
  <div class="container">
    <div class="row">
      <div class="col col-lg-4 col-12">
        <img [defaultImage]="defaultImage" [lazyLoad]="'assets/logo/money-final.jpg'" alt="First slide">
      </div>
    </div>
    <div class="row">
      <div class="col col-12 text-center">
        <h3>Rent outfits starting as low as Rs 300 along with exiting <br> cashback and offers.</h3>
      </div>
    </div>
  </div>
</section>
