<section class="product-detail">
  <div class="container">
    <div class="row align-items-start">
      <div class="col col-4 col-sm-2">
        <div class="d-flex flex-column side-image" (mouseover)="getImage($event)">
          <div><img [defaultImage]="defaultImage" [lazyLoad]="product.image || shirts.image || pants.image"  alt="{{ product.image || shirts.image || pants.image }}"></div>
          <div><img [defaultImage]="defaultImage" [lazyLoad]="product.imgone || shirts.imgone || pants.imgone"  alt="{{ product.imgone || shirts.imgone || pants.imgone }}"></div>
          <div><img [defaultImage]="defaultImage" [lazyLoad]="product.imgtwo || shirts.imgtwo || pants.imgtwo"  alt="{{ product.imgtwo || shirts.imgtwo || pants.imgtwo }}"></div>
        </div>
      </div>
      <div class="col col-8 col-sm-5 main-image shadow">
        <div *ngIf="hide"><img [lazyLoad]="product.image || shirts.image || pants.image" alt="{{ product.image || shirts.image || pants.image }}"></div>
        <div>
          <img [lazyLoad]="dynamicImage" alt="{{ dynamicImage }}">
        </div>
      </div>
      <div class="col col-12 col-sm-5 text-left product-description">
        <h2 *ngIf="blazer">{{ product.name }}</h2>
        <h2 *ngIf="shirt">{{ shirts.name }}</h2>
        <h2 *ngIf="pantSize">{{ pants.name }}</h2>
        <!-- <p>{{ product.description }}</p> -->
        <div class="price-section">
        <div class="d-flex align-items-center"><h3>Rent:&nbsp;{{ (product.mrp - (product.mrp / 100)*product.discount) || (shirts.mrp - (shirts.mrp / 100)*shirts.discount)  || (pants.mrp - (pants.mrp / 100)*pants.discount) | number:'.0-0' | currency: 'INR' }}</h3>
          &nbsp;<p><s>Rs.&nbsp;{{ product.mrp || shirts.mrp || pants.mrp }}</s>
          &nbsp;<span class="text-danger">({{product.discount || shirts.discount || pants.discount }}% OFF)</span></p>
        </div>
        <p>AND</p>
        <h3>Refundable Deposite: &nbsp;{{ (product.mrp - (product.mrp / 100)*(product.discount + 5)) || (shirts.mrp - (shirts.mrp / 100)*(shirts.discount + 5)) || (pants.mrp - (pants.mrp / 100)*(pants.discount + 5)) | number:'0.0-0' | currency: 'INR' }}</h3>
          <p>&nbsp;Rent for 1 Day</p>
        </div>
        <div class="size">
          <h3>Size Available</h3>
          <div *ngIf="otherSize" class="d-flex"><h4>M</h4>&nbsp;<h4>L</h4>&nbsp;<h4>XL</h4></div>
          <div *ngIf="pantSize" class="d-flex"><h4>30</h4>&nbsp;<h4>32</h4>&nbsp;<h4>34</h4></div>
        </div>
        <h3 class="address">To rent call, email or drop in to the store</h3>
        <div class="d-flex">
          <p><i class="fa fa-phone"></i></p>
          <p>9886177255</p>
        </div>

        <div class="d-flex">
          <p><i class="fa fa-envelope"></i></p>
          <p>theshiroest@gmail.com</p>
        </div>

        <div class="d-flex">
          <p><i class="fa fa-map-marker"></i></p>
          <p>#209 83rd cross 2nd Stage <br> Kumaraswamy Layout Bangalore-78</p>
        </div>
      </div>
    </div>
  </div>
</section>
