@import "../../../variables";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

section {
  &.product-detail {
    .container {
      margin-top: 60px;

      .col:last-child {
        padding-left: 50px;
      }

      .product-description {
        h2:first-child {
          margin-bottom: 4px;
        }
      }

      .main-image {
        height: 510px;
        padding: 10px;

        &:hover {
          box-shadow: none !important;
        }

        img {
          max-height: 480px;

          &:hover {
            transform: scale(1.27);
            cursor: all-scroll;
          }
        }
      }

      .side-image {
        width: 80%;
        cursor: pointer;

        img {
          margin-bottom: 10px;
        }
      }

      .price-section {
        margin-top: 10px;

        h3,p {
          margin-bottom: 5px;
        }
      }

      .size {
        margin-top: 24px;

        h4 {
          margin: 0;
          border: 1px solid grey;
          border-radius: 99px;
          padding: 10px 11px;
          margin-right: 8px;
        }

        h3 {
          margin-bottom: 12px;
        }
      }

      .address {
        margin-top: 30px;
      }

      .fa {
        margin-right: 10px;
      }
    }
  }
}

@include media-breakpoint-only (md) {
  section {
    &.blazer {
      .container {
        .card {
          max-width: 300px;

          cursor: pointer;
          img {
            height: 300px;
            min-width: 214px;
          }
        }
      }
    }
  }
}
