@import "../../../variables";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

section {
  &.refer-and-earn {
    margin-top: 60px;

    .container {
      p {
        font-size: 24px;
      }
    }
  }

  &.refer-work {
    .container {
      .row:last-child {
        img {
          max-width: 200px;
          height: 160px;
          margin: 20px 0;
        }

        p {
          margin-bottom: 0;
          font-size: 18px;
        }
      }
    }
  }

  &.refer-amount {
    .container {
      p {
        font-size: 24px;
        margin-bottom: 0;
      }
    }
  }
}

@include media-breakpoint-down (sm) {
  section {
    &.refer-and-earn {
      .container {
        p {
          margin-bottom: 20px;
        }
      }
    }
  }
}
