<section class="refer-and-earn">
  <div class="container">
    <div class="row">
      <div class="col col-12 col-md-6">
        <h1>Make money through your network</h1>
        <p>Are you a social magnet? Earn some money by telling your friends about Shiroest.</p>
      </div>
      <div class="col col-12 col-md-6">
        <img src="assets/about-us/refer-hero.svg" alt="assets/about-us/refer-hero.svg">
      </div>
    </div>
  </div>
</section>

<section class="refer-work">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <h2>How it work?</h2>
      </div>
    </div>
    <div class="row align-items-start">
      <div class="col col-12 col-md-4 text-center">
          <img [defaultImage]="defaultImage" [lazyLoad]="'assets/about-us/refer-friend.svg'" alt="assets/about-us/refer-friend.svg">
        <h3>1. Refer a Friend</h3>
        <p>Tell your friend about Shiroest, and provide then the unique code we give.</p>
        <p></p>
      </div>
      <div class="col col-12 col-md-4 text-center">
        <img [defaultImage]="defaultImage" [lazyLoad]="'assets/about-us/refer-rent.svg'" alt="assets/about-us/refer-rent.svg">
        <h3>2 .They rent at Shiroest</h3>
        <p>Your friends have to rent something at <br> Shiroest</p>
      </div>
      <div class="col col-12 col-md-4 text-center">
        <img [defaultImage]="defaultImage" [lazyLoad]="'assets/about-us/rent-with-us-hero.svg'" alt="assets/about-us/rent-with-us-hero.svg">
        <h3>3. You both get paid!</h3>
        <p>Yah..! you both get paid after step 1 and 2 is completed.</p>
      </div>
    </div>
  </div>
</section>

<section class="refer-amount">
  <div class="container">
    <div class="row">
      <div class="col col-md-10 col-12 text-center">
        <h2>Invite your friend and earn upto &#x20b9;100 for each referal that will be by cash, wallet or account.</h2>
        <p>Even better your friend will earn &#x20b9;100 and some addition discount on rent.</p>
      </div>
    </div>
  </div>
</section>
