@import "../../../variables";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

section {
  &.refer-and-earn {
    margin-top: 40px;

    .container {
      p {
        font-size: 24px;
      }
    }
  }

  &.start-rent {
    .container {
      .benefit {
        margin-top: 30px;

        img {
          width: 180px;
          height: 140px;
          margin-bottom: 10px;
        }
      }
    }
  }
}

@include media-breakpoint-down (sm) {
  section {
    &.start-rent {
      .container {
        br {
          display: none;
        }

        .benefit {
          margin-top: 30px;

          img {
            margin-top: 20px;
          }
        }
      }
    }
  }
}

@include media-breakpoint-down (md) {
  section {
    &.refer-and-earn {
      margin-top: 60px;
    }
  }
}
