<section class="refer-and-earn">
  <div class="container">
    <div class="row">
      <div class="col col-12 col-md-6 text-left">
        <h1>Sell at Shiroest</h1>
        <p>Sell your product at Shiroest and earn money. List any kind of product for either sell or rent and
          make money out of it. We will be support you in each and every steps.
        </p>
      </div>
      <div class="col col-12 col-md-6 text-left">
        <img src="assets/about-us/rent-with-us-hero.svg" alt="assets/about-us/rent-with-us-hero.svg">
      </div>
    </div>
  </div>
</section>

<section class="start-rent">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="text-center">Start Renting, Start Earning!</h2>
        <p class="text-center">Everthing thing you need to start giving for rent at online store.<br> Renting online has never been so easier,
          faster and profitabel. List at Shiroest sit back and relax.
        </p>
        <div class="row align-items-start benefit">
          <div class="col col-12 col-md-3 text-center">
            <img [defaultImage]="defaultImage" [lazyLoad]="'assets/about-us/money.svg'" alt="assets/about-us/more-money.svg">
            <h3>More Money</h3>
            <p>You make more money with us than if you rent away in other site. Profit margin is much higher.</p>
          </div>
          <div class="col col-12 col-md-3 text-center">
            <img [defaultImage]="defaultImage" [lazyLoad]="'assets/about-us/no-scam.svg'" alt="assets/about-us/no-scam.svg">
            <h3>No Scammers</h3>
            <p>We weed out all of the non-serious buyers. Your product will be completely safe under Shiroest</p>
          </div>
          <div class="col col-12 col-md-3 text-center">
            <img [defaultImage]="defaultImage" [lazyLoad]="'assets/about-us/service.svg'" alt="assets/about-us/service.svg">
            <h3>Done-For-You Service</h3>
            <p>You don’t need to drop the product to the store or contact customer. We do it all on your behalf.</p>
          </div>
          <div class="col col-12 col-md-3 text-center">
            <img [defaultImage]="defaultImage" [lazyLoad]="'assets/about-us/twenty.svg'" alt="assets/about-us/twenty.svg">
            <h3>20% we take</h3>
            <p>We dont charge listing fee, and if your product is rented by someone, we charge only 20% and 70% goes to you.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-contact-us></app-contact-us>

