<section class="support-us">
  <div class="container">
    <div class="row">
      <div class="col col-12 col-md-6 text-left">
        <h1>Support us</h1>
        <p>We are a very early start, with no funding so far, any help form anyone's end will be welcome
          and highly appreciated.
        </p>
      </div>
      <div class="col col-12 col-md-6">
        <img src="assets/about-us/support-us-hero.svg" class="w-75" alt="assets/about-us/support-us-hero.svg">
      </div>
    </div>
  </div>
</section>

<section class="how-to-help">
  <div class="container">
    <div class="row">
      <div class="col col-12 col-md-6 ">
          <h2>How can you help us?</h2>
      </div>
    </div>
    <div class="row">
      <div class="col col-12 col-md-6 text-left">
        <p><i class="fa fa-arrow-right"></i>You can refer Shiroest, if anyone is in need of rent stuff.</p>
        <p><i class="fa fa-arrow-right"></i>If you like our work you can donate by any means.</p>
        <p><i class="fa fa-arrow-right"></i>You can tell us if anyoneis willing to fund us.</p>
        <p><i class="fa fa-arrow-right"></i>You can also support us by rent with us. which indeed will be awesome.</p>
        <p><i class="fa fa-arrow-right"></i>If you have a store and you want to list your product you can do that in shiroest.com</p>
      </div>
    </div>
  </div>
</section>

<app-contact-us></app-contact-us>

