@import "../../../variables";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";


section {
  &.support-us {
    margin-top: 60px;

    .container {
      p {
        font-size: 24px;
        font-weight: 300;
      }
    }
  }

  &.how-to-help {
    .container {
      p {
        font-size: 18px;
      }

      .fa-arrow-right {
        margin-right: 10px;
        color: $primary;
      }
    }
  }
}
