<section class="faq">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <img class="w-50" src="assets/logo/help-you.svg" alt="assets/logo/help-you.svg">
      </div>
    </div>
    <div class="row">
      <div class="col col-12 col-md-10">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search Quetions" [(ngModel)]="quetion"
            (input)="Search()">
          <span class="input-group-btn">
            <button class="btn btn-search" type="button"><i class="fa fa-search fa-fw"></i> Search</button>
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-12">
        <div class="accordion" id="accordionExample">
          <div class="card" *ngFor="let item of anotherfaq; let idNo = index">
            <div *ngIf="(idNo === 0)">
              <div class="card-header" id="cardOne{{idNo}}">
                <h2 class="mb-0">
                  <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse"
                    [attr.data-target]="'#card'+idNo" aria-expanded="false" [attr.aria-controls]="'#card'+idNo">
                    <p>{{ item.quetion }}</p>
                  </button>
                </h2>
              </div>
              <div id="card{{idNo}}" class="collapse show" [attr.aria-labelledby]="'cardOne'+idNo"
                data-parent="#accordionExample">
                <div class="card-body">
                  <span>{{ item.answer }}</span>
                </div>
              </div>
            </div>

            <div *ngIf="(idNo > 0)">
              <div class="card-header" id="cardOne{{idNo}}">
                <h2 class="mb-0">
                  <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse"
                    [attr.data-target]="'#card'+idNo" aria-expanded="false" [attr.aria-controls]="'#card'+idNo">
                    <p>{{ item.quetion }}</p>
                  </button>
                </h2>
              </div>
              <div id="card{{idNo}}" class="collapse" [attr.aria-labelledby]="'cardOne'+idNo"
                data-parent="#accordionExample">
                <div class="card-body">
                  <span>{{ item.answer }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion" id="accordionExample">
          <div *ngIf="showatfirst">
            <div class="card" *ngFor="let item of faq; let idNo = index">
              <div *ngIf="(idNo === 0)">
                <div class="card-header" id="cardOne{{idNo}}">
                  <h2 class="mb-0">
                    <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse"
                      [attr.data-target]="'#card'+idNo" aria-expanded="true" [attr.aria-controls]="'#card'+idNo">
                      <p>{{ item.quetion }}</p>
                    </button>
                  </h2>
                </div>
                <div id="card{{idNo}}" class="collapse show" [attr.aria-labelledby]="'cardOne'+idNo"
                  data-parent="#accordionExample">
                  <div class="card-body">
                    <span>{{ item.answer }}</span>
                  </div>
                </div>
              </div>

              <div *ngIf="(idNo > 0)">
                <div class="card-header" id="cardOne{{idNo}}">
                  <h2 class="mb-0">
                    <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse"
                      [attr.data-target]="'#card'+idNo" aria-expanded="false" [attr.aria-controls]="'#card'+idNo">
                      <p>{{ item.quetion }}</p>
                    </button>
                  </h2>
                </div>
                <div id="card{{idNo}}" class="collapse" [attr.aria-labelledby]="'cardOne'+idNo"
                  data-parent="#accordionExample">
                  <div class="card-body">
                    <span>{{ item.answer }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-contact-us></app-contact-us>
<br>
<br>
