@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";
@import "../../variables";

section {
  &.faq {
    .container {
      .accordion {
        .card {
          border: none;

          .mb-0 {
            p {
            margin: 10px 0;
            color: $black;
            }

            button {
              text-decoration: none;
            }
          }

          .card-header {
            background-color: #f5f5f5;
          }

          .card-body {
            color: $light-grey;
          }

          .mb-0 > button {
            display: block;
            position: relative;
          }

          .mb-0 > button:after {
            content: "\f078";
            font-family: 'FontAwesome';
            position: absolute;
            color: $primary;
            right: 0;
            top: 14px;
          }

          .mb-0 > button[aria-expanded="true"]:after {
            content: "\f077";
            color: $matte-green;
          }

          .mb-0 > button[aria-expanded="true"] {
           p {
             font-weight: 500;
           }
          }
        }
      }

      .btn-search {
        background: $black;
        border-radius: 0;
        color: $white;
        border-width: 1px;
        border-style: solid;
        margin-bottom: 30px;
      }

      .btn-search:link,
      .btn-search:visited {
        color: $white;
      }

      .btn-search:active,
      .btn-search:hover {
        background: $primary;
        color: $white;
      }
    }
  }
}

@include media-breakpoint-down (md) {
  section {
    &.faq {
      margin-top: 60px;
    }
  }
}
