@import "../../../variables";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

section {
  &.policy {
    margin-top: 20px;

h2 {
    padding-top: 70px;
    padding-bottom: 70px;
    width: 100%;
    color: $white;
    background-color: $black;
    }
  }
}
