<section class="policy">
	<div class="container">
		<div class="row">
			<div class="col col-12 text-left">
				<h2 class="text-center self-align-center"> Return and Cancellation</h2>
				<p>This policy governs the cancellation and return of any apparels taken by the Shiorest store.</p>

				<p>1. The domain name https://www.shiroest.com (hereinafter referred to as the "website") is owned by Shireost
					Technologies
					Private Limited.</p>
				<p>2. For the purpose of this Return and Rent Policy, wherever the context so requires “Website Owner” and
					“Website” shall
					mean Shireost Technologies Private Limited and www.shiroest.com, respectively. Also, wherever the context so
					requires,
					“Website" or “User” or “he/ she” or “his/ her” shall mean any natural or legal person who is competent to
					enter into a
					legally binding Contract under the “Indian Contract Act, 1872” (hereinafter referred to as the “Contract
					Act”).
					Any person who is not competent under the Contract Act to enter into a legally binding Contract including
					minors,
					un-discharged insolvents, persons of unsound mind etc. are not eligible to use this Website.</p>
				<p>3. By accessing, browsing, using and/or availing the services, products and tools provided by this Website,
					the
					Website User agrees to abide and be bound by the provisions of this “Return and Cancellation Policy”
					as applicable to this Website. Website User’s access to and use of this Site and/or the Services is
					conditional upon the Website User’s acceptance and continuous compliance with the provisions of
					this “Return and Cancellation Policy” and the Terms of Use and other policies available on this
					Site at all times. The Website Owner reserves the right to refuse access to this Website and/or
					terminate account(s) and/or remove and/or edit content at any time without Notice to the Website User. It is
					the
					Website User’s responsibility to review this “Return and Cancellation Policy” periodically for updates/
					changes. The
					Website User’s continued use of this Website following the posting of changes will mean that he/she accepts
					and agrees
					to the revisions. If the Website User does not agree to be bound by any of the provisions of this Return and
					Cancellation Policy then he/ she shall not use and/ or access this Website.</p>
				<p>4. The Website Owner owes no liability to the Website User for citing any reason for cancelling any
					apparels. By mere use of this Website, the Website User expressly consents to the terms
					of this “Return and Cancellation Policy”. This “Return and Cancellation Policy” is
					incorporated into and subject to the Terms of Use of this Website. This “Return and
					Cancellation Policy” shall be read in accordance with and subject to the provisions of the Terms of Use of
					this Website.</p>
				<p>5. The Website User shall send the cancellation and/ or return request by emailing the
					App/ Website Owner at theshiroest@gmail.com</p>
				<p>6. The Website Owner’s decision shall be final to decide whether the cancellation and / or return request of
					the
					Website User is accepted or not.</p>
				<p>7. In case of any Major Damage (any kind of loss which diminishes the commercial value of the product,
					including
					but not limited to, theft, alteration, non-reversible treatment to the fabric, replacing original
					product with fake product, fabric burn, ripping off of the fabric) being caused to the product(s) while
					it is in the custody of the Website User, an additional charge of up to 100% of the Retail value of
					such product(s), as determined by the Website Owner, shall be payable by the Website User.</p>
				<p>8. Shiroest Express Category :
					8.1 In case of product(s) taken under this category, cancellation of the apparels is allowed only when you
					have not left the store.
					8.2 The Website User is advised to check the product(s) thoroughly at the time of taking the product form the
					store and in case of any problem, including but not limited to, size, colour, style and/ or damage, the
					Website User shall intimate the Store Personnel about the same and shall return the product(s) to the Store
					Personnel. The Store Personnel will accept the return until you leave the store and the product can be return
					the same.
					8.3 In case the Website User fails to return the product(s) on the return date, a per day late fee of 5% of
					MRP of the product will be charged up to a maximum of MRP of product.
					8.4 The above late fee shall be payable by the Website User in the same manner as the Website User has paid
					for the
					Total Price of the product(s) while taking the Order.</p>
				<p>9. The Website User explicitly agrees to the levy of such additional charge on account of
					Major Loss (defined above) being caused to the product(s) while in the custody of the
					Website User, as determined by the Website Owner.</p>
				<p>10. In the event of Major Loss (defined above) being caused to the product(s) being ordered from the Shiroest
					Express Category, the additional charge, as determined by the Website Owner, shall be payable by the
					Website User in the same manner as the Website User has paid for the Total Price of the product(s) while
					placing the Order.</p>
				<p>11. In the event of Major Loss (defined above) being caused to the product(s) being ordered from the Shiroest
					Reserve Category, the additional charge, as determined by the Website Owner, shall be adjusted from the
					Security Deposit being paid by the Website User and in case of the additional charge being higher than the
					Security Deposit, the Website Owner is explicitly authorized by the Website User to levy the balance of such
					additional charge, the balance of the additional charge shall be payable by the Website User in the same
					manner
					as the Website User has paid for the Total Price of the product(s) while taking the product.</p>
				<p>12. The Website User is advised to check the product(s) thoroughly at the time of taking the order and in
					case of
					any problem, including but not limited to, size, color, style and/ or damage, the Website User shall intimate
					the
					store Personnel about the same and shall return the product(s) with the store Personnel.</p>
				<p>13. It is hereby clarified that the Website Owner will take best efforts to ensure that the product(s) taken
					by the
					Website User under any of the categories mentioned on this Website are taken within the timelines specified in
					the
					Terms of Use of this Website, however, in case of delay of more than 1 (one) day from the specified return
					date and/ or time, the Website Owner shall refund the entire amount charged for the product(s) ordered by
					the website owner will take the amount as per the condition.</p>
			</div>
		</div>
	</div>
</section>