<section class="blazer">
  <div class="container">
    <div class="row">
      <div class="col col-12 col-sm-4" *ngFor="let product of shirt; let i = index">
        <div class="card shadow" [routerLink]="['/rent',urlName,product.id]">
          <img [defaultImage]="defaultImage" [lazyLoad]="product.image" class="card-img-top" alt="{{ product.image }}">
          <div class="card-body">
            <h6 class="card-title"> {{ product.name }}</h6>
            <!-- <p class="card-text">{{ product.description }}</p> -->
            <div class="d-flex">
              <h3 class="card-text">Rs.&nbsp;{{ (product.mrp - (product.mrp / 100)*product.discount) | number:'0.0-0'}}</h3>
              &nbsp;<p><s>Rs.&nbsp;{{ product.mrp}}</s>
                &nbsp;<span class="text-danger">({{product.discount}}% OFF)</span></p>
            </div>
            <p class="hide-checkout">Check out<i class="fa fa-arrow-right" aria-hidden="true"></i>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
