@import "../../../variables";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

section {
  &.blazer {
    .container {
      margin-top: 60px;

      .col {
        margin-bottom: 60px;

        &:last-child {
          margin-right: auto;
        }
      }

      .card {
        width: 300px;

        cursor: pointer;
        img {
          max-height: 300px;
        }
      }

      .card-img-top {
        object-fit: cover;
        object-position: top;
      }

      .card-body {
        padding-bottom: 10px;

        h5, p, h3 {
          margin-bottom: 4px;
        }
      }

      .hide-checkout {
        opacity: 0;
        font-size: 20px;
        font-weight: bold;
        margin-top: 4px;
      }

      .card:hover {
        .hide-checkout {
          opacity: 1;
          color: $primary;
        }

        .fa-arrow-right {
          color: $primary;
          font-size: 24px;
          transition: all 0.8s ease-in-out;
          transform: translate(140px,0);
        }
      }
    }
  }
}

@include media-breakpoint-down (sm) {
  section {
    &.blazer {
      .container {
        .hide-checkout {
          opacity: 1;
          color: $primary;
        }

        .fa-arrow-right {
          padding-left: 30px;
        }
      }
    }
  }
}

@include media-breakpoint-only (md) {
  section {
    &.blazer {
      .container {
        .card {
          max-width: 300px;

          cursor: pointer;
          img {
            height: 300px;
            min-width: 214px;
          }
        }
      }
    }
  }
}
