@import "../../../variables";

.container {
  max-width: 400px;
  .row {
   img {
      margin-bottom: 30px;
    }

    .fa {
      font-size: 22px;
      color: $primary;
    }

    .fa-times {
      cursor: pointer;
    }
  }
}
