<div class="container">
    <div class="row">
        <div class="col col-12 align-items-end">
            <i class="fa fa-times" (click)="close()"></i>
        </div>
      </div>
  <div class="row">
    <div class="col col-12">
      <img [defaultImage]="defaultImage" [lazyLoad]="'assets/about-us/offers.svg'" class="w-75" alt="assets/about-us/offers.svg">
      <p><i class="fa fa-angle-right"></i> Rent for first time in Shiroest and get flat min &#8377;50 to upto &#8377;150 cashback</p>
      <p><i class="fa fa-angle-right"></i> Bring two of your friend along with you and all of you get 20% extra off.</p>
      <p><i class="fa fa-angle-right"></i> Bring two of your friend along with you and all of you get 30% extra off.</p>
    </div>
  </div>
</div>
